<div id="top-bar">
    <a routerLink="/" routerLinkActive="active">
        <div class="logo-container">
            <div id="logo">
                <img src="assets/logo.png" alt="logo" />
            </div>
            <p>UniUA</p>
        </div>
    </a>
    <div class="menu-container">
        <ul id="menu">
            <li class="menu-item">
                <a
                    routerLink="/news"
                    routerLinkActive="active"
                    (click)="getNews()"
                    >News</a
                >
            </li>
            <li class="menu-item">
                <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
            </li>
            <li class="menu-item">
                <a routerLink="/about" routerLinkActive="active">About us</a>
            </li>
            <li class="menu-item">
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
        </ul>
    </div>
</div>
