<div id="footer-wrapper" [ngClass]="{ 'mobile': isMobile }">
    <div id="logo-container">
        <div id="logo">
            <img src="assets/logo.png" alt="logo" />
        </div>
    </div>
    <div id="copy">
        <p>&copy; 2024 Omelchenko Vladyslav</p>
    </div>
    <div id="socials-container">
        <a target="_blank" href="https://twitter.com/UniUa/"
            ><img src="assets/x-logo.svg" alt="x-logo"
        /></a>
        <a target="_blank" href="https://www.instagram.com/uniua/"
            ><img src="assets/ig-logo.svg" alt="instagram-logo"
        /></a>
        <a target="_blank" href="https://github.com/MasterofOak/UniUa-Angular"
            ><img src="assets/gh-logo.svg" alt="github-logo"
        /></a>
    </div>
</div>
