a {
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #cc4ace;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
li > a:hover::after {
    transform: scaleX(1);
}
.top-bar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #193261;
    height: 80px;
    color: var(--main-text-color);
}
.mobile-nav .logo-container p {
    margin-left: 2px;
}
.open-nav-btn {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    z-index: 9999 !important;
    background-color: transparent;
}
.open-nav-btn span {
    font-size: 2rem;
    color: var(--main-text-color);
}
.hamburger-menu {
    position: absolute;
    display: none;
    touch-action: none;
}
.hamburger-menu.open {
    display: flex;
    top: 80px;
    width: 100dvw;
    min-height: 100dvh;
    z-index: 9998;
    background-color: rgba(25, 38, 64, 0.75);
}
@keyframes slide_in {
    0% {
        left: -250px;
    }
    100% {
        left: 0px;
    }
}
.hamburger-menu ul#menu {
    position: relative;
    flex-direction: column;
    padding-top: 6rem;
    width: 50%;
    gap: 60px;
    z-index: 9999;
    background-color: #193261;
    animation: slide_in 0.3s ease-in forwards;
}

#menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}
#menu > li {
    text-align: center;
    font-size: 1.5rem;
}
.logo-container a {
    display: flex;
    align-items: center;
}
.logo-container p {
    margin-left: 24px;
    font-size: 2.5rem;
    font-weight: bold;
}
#logo img {
    height: 80px;
}
