<div id="wrapper" [ngClass]="{ mobile: isMobile }">
    <h1>ABOUT US</h1>
    <h2>UniUa - Unlocking Educational Dreams, Not Stockholder Value</h2>
    <p>
        In the fast-paced world of educational resources, success is often
        measured by the sheer volume of data. Here at UniUa, however, we
        prioritize a different kind of success: empowering students to make
        informed choices about their futures. We're not driven by the pursuit of
        profit, but by a passion to democratize access to educational
        information.
    </p>
    <p>
        This might seem unconventional, but it's the cornerstone of our mission.
        We believe that true value lies in helping students find the perfect
        university fit, regardless of financial background. Every data point we
        collect, every program we develop, is guided by this principle.
    </p>
    <p>
        Profitability isn't an enemy, but it's not our compass. Financial
        sustainability is essential for any organization to function. We
        generate revenue, yes, but it's not distributed to shareholders.
        Instead, it's meticulously reinvested back into our mission.
    </p>
    <p>This allows us to:</p>
    <ul>
        <li>
            Expand our database: By keeping profits within the organization, we
            can gather even more in-depth information on universities, offering
            students a wider range of options.
        </li>
        <li>
            Develop innovative tools: We're constantly seeking new ways to
            present complex educational data in a user-friendly and accessible
            format.
        </li>
        <li>
            Maintain our objectivity: Financial self-sufficiency allows us to
            operate with integrity, free from the influence of for-profit
            universities.
        </li>
    </ul>
    <p>
        Our success is measured in fulfilled dreams, not stock prices. The
        reward for our work lies in the stories of students who find their
        perfect academic match, thanks to the information we provide. It's the
        high school graduate who discovers a scholarship opportunity they never
        knew existed. It's the young professional who finds the perfect program
        to launch their career.
    </p>
    <p>
        We understand that this approach isn't for everyone. But for us, it's
        the only way to achieve true success. We invite you to join us on this
        journey, as a data contributor, sponsor, or simply a supporter who
        shares our values. Together, let's create a world where access to
        educational information empowers every student to reach their full
        potential.
    </p>
</div>
